@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section secBaslik{
    <h3 class="head-h3">Ana Sayfa</h3>
}
<h3 style="color:#000;">Amacımız</h3>
<p>Bu web sitesi MVC ile oluşturulmuştur. Amacımız MVC ve veritabanıyla satış sistemi geliştirmek. Bu sitede nota satışı yapılmaktadır.</p>
<p>Soldaki Menüden site içeriğimize ulaşabilirsiniz.</p>